<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书架</title>

    <script src="../static/jquery.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <style>
        .bookshift tbody tr td {
            vertical-align: middle;
            text-align: center;
        }

        .bookshift th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">书籍管理</div>
        <div class="panel-body">
            <div>
                <button type="button" class="btn btn-primary add-book">添加书籍</button>
            </div>
            <div>
                <table class="table table-striped bookshift">
                    <thead>
                    <tr class="book-th">
                        <th>编号</th>
                        <th>书籍名称</th>
                        <th>价格</th>
                        <th>出版日期</th>
                        <th>出版社</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>python</td>
                        <td>123.00</td>
                        <td>2012-12-12</td>
                        <td>人民出版社</td>
                        <td>
                            <button type="button" class="btn btn-warning">编辑</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $(".add-book").click(function () {
        alert("当前不可添加数据")
    })
</script>
</html>