{% extends 'layout.html' %}
{% load mytags %}
{% block content %}

    <div class="luffy-container">
        <div class="btn-group" style="margin: 5px 0">
            <a class="btn btn-default" href="{% url_encode request 'rbac:role_add' %}" auth>
                <i class="fa fa-plus-square" aria-hidden="true"></i> 添加角色
            </a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>角色</th>
                <th>选项</th>
            </tr>
            </thead>
            <tbody>
            {% for row in role_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.role_name }}</td>
                    <td>
                        <a style="color: #333333;" href="{% url_encode request 'rbac:role_edit' row.id %}" auth>
                            <i class="fa fa-edit" aria-hidden="true" ></i>|</a>

                        <a style="color: #d9534f;" href="{% url 'rbac:role_del' %}?delobj={{ row.id }}" auth><i class="fa fa-trash-o"></i></a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}