{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<style>#}
{#    .nav{#}
{#        background-color: red;#}
{#        height: 40px;#}
{#        width: 100%;#}
{#    }#}
{#    .d1{#}
{#        background-color: green;#}
{#        height: 100px;#}
{#        width: 100px;#}
{#    }#}
{#</style>#}
{#<body>#}
{##}
{#<div class="nav">#}
{#    <a href="">个人中心</a>#}
{#    <a href="">登录|注册</a>#}
{#</div>#}
{##}
{#<div class="d1">#}
{#    <ul>#}
{#        <li><a href="">菜单1</a></li>#}
{#        <li><a href="">菜单2</a></li>#}
{#        <li><a href="">菜单3</a></li>#}
{#    </ul>#}
{#</div>#}
{#<h1>菜单1的内容</h1>#}
{#</body>#}
{#</html>#}


{% extends "base.html" %}

    {% block content %}
        {{ block.super }}+
    菜单1的内容
    {% endblock %}