<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书架</title>

    <script src="/static/jquery.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <style>
        .bookshift tbody tr td {
            vertical-align: middle;
            text-align: center;
        }

        .bookshift th {
            text-align: center;
        }
    </style>
</head>
<body>
{% include 'nav_bar.html' %}
{% load my_tags %}
{% left_menu menu_lst %}

<div class="container" style="width: 80%">
    <div class="panel panel-default">
        <div class="panel-heading">书籍管理</div>
        <div class="panel-body">
            <div>
                <button type="button" class="btn btn-primary add-book" data-toggle="modal" data-target="#myModal">
                    添加书籍
                </button>
            </div>
            <div>
                <table class="table table-striped bookshift table-hover">
                    <thead>
                    <tr class="book-query">
                        <form action="{% url 'app01:querys' %}" METHOD="post">
                            {% csrf_token %}
                            <th>筛选</th>
                            <th><input type="text" placeholder="书名" style="width: 50%" name="title_query"
                                       value="{{ values.title_query }}"></th>
                            <th>
                                <select name="price_compare" id="" onselect="">
                                    <option value="1" {% if values.price_compare == "1" %}
                                            selected
                                    {% endif %}>>
                                    </option>
                                    <option value="2" {% if values.price_compare == "2" %}
                                            selected
                                    {% endif %}>>=
                                    </option>
                                    <option value="3" {% if values.price_compare == "3" %}
                                            selected
                                    {% endif %}><
                                    </option>
                                    <option value="4" {% if values.price_compare == "4" %}
                                            selected
                                    {% endif %}><=
                                    </option>
                                    <option value="5" {% if values.price_compare == "5" %}
                                            selected
                                    {% endif %}>==
                                    </option>
                                </select>
                                <input type="number" style="width: 20%" name="price_query"
                                       value="{{ values.price_query }}" min="0.0" step="0.001">
                            </th>
                            <th>
                                <input type="date" style="width: 40%" name="date_query_starts"
                                       value="{{ values.date_query_starts }}">
                                <input type="date" style="width: 40%" name="date_query_ends"
                                       value="{{ values.date_query_ends }}">
                            </th>
                            <th><input type="text" style="width: 50%" placeholder="出版社" name="publish_query"
                                       value="{{ values.publish_query }}"></th>
                            <th>
                                <button type="submit" class="btn btn-primary query-book btn-sm">查询</button>
                            </th>
                        </form>
                    </tr>
                    <tr class="book-th">
                        <th>编号</th>
                        <th>书籍名称</th>
                        <th>价格</th>
                        <th>出版日期</th>
                        <th>出版社</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <form action="{% url 'app01:books' %}" METHOD="post">
                        <input class="hide" type="text" name="del_id">
                        {% csrf_token %}
                        <tbody>
                        {% for ob in obj %}
                            <tr>
                                <td class="hide">{{ ob.id }}</td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ob.title }}</td>
                                <td>{{ ob.price }}</td>
                                <td>{{ ob.publish_date|date:"Y-m-d" }}</td>
                                <td>{{ ob.publish }}</td>
                                <td>
                                    <button type="button" class="btn btn-warning edit-book" data-toggle="modal"
                                            data-target="#myModal">编辑
                                    </button>
                                    <button type="submit" class="btn btn-danger del-book">删除</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加书籍</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'app01:books' %}" METHOD="post">
                    {% csrf_token %}
                    <input class="hide edit-id" type="text" name="edit-book">
                    <div class="form-group">
                        <label for="title">书籍名称</label>
                        <input type="text" class="form-control" id="title" placeholder="书籍名称" name="title">
                    </div>
                    <div class="form-group">
                        <label for="price">价格</label>
                        <input type="number" class="form-control" id="price" placeholder="价格" name="price" min="0.0"
                               step="0.001">
                    </div>
                    <div class="form-group">
                        <label for="publish_date">出版日期</label>
                        <input type="date" class="form-control" id="publish_date" name="publish_date">
                    </div>
                    <div class="form-group">
                        <label for="publish">出版社</label>
                        <input type="text" class="form-control" id="publish" placeholder="出版社" name="publish">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>

<script>
    $(".edit-book").click(function () {
        $(".edit-id").val($(this).parent().siblings('.hide').text());
        $("[name = title]").val($(this).parent().siblings().eq(2).text());
        $("[name = price]").val($(this).parent().siblings().eq(3).text());
        $("[name = publish_date]").val($(this).parent().siblings().eq(4).text());
        $("[name = publish]").val($(this).parent().siblings().eq(5).text());
    });
    $(".del-book").click(function () {
        $("[name = del_id]").val($(this).parent().siblings('.hide').text());
    });
    $(".add-book").click(function () {
        $(".edit-id").val("");
        $("[name = title]").val("");
        $("[name = price]").val("");
        $("[name = publish_date]").val("");
        $("[name = publish]").val("");
    });

</script>
</html>